Flask
Flask-SocketIO
gunicorn
eventlet
opencv-python-headless
numpy
pandas
Pillow
PyYAML
requests
torch
torchvision
ultralytics
Werkzeug
gitpython
matplotlib
psutil
scipy
thop
tqdm
seaborn
setuptools>=70.0.0
